*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    margin-left: 10%; 
    margin-right: 10%; 
    background-color: #c6c6c6;
    color: #3d4044;
}

body::before,
body::after {
  content: "";
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  width: 10%;  /* 留白宽度 */
}

body::before {
  left: 0;
  background-color: rgba(241, 217, 198, 1);  /* 左侧留白颜色 */
}

body::after {
  right: 0;
  background-color: rgba(241, 217, 198, 1);  /* 右侧留白颜色*/
}

nav {
    background-color: #3d4044;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
  }

  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #beb8ab;
    color: black;
  }

.content{
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
}

h1{
    margin: 0 auto; 
    padding-bottom: 40px;
    padding-top: 40px;
}

video{
    margin: 0 auto; 
    padding: 20px;
    /* scroll-padding: 70%; */
}

.centered-text {
    display: inline-block; /* 使文本居中时仍然可以设置宽度 */
    text-align: left; /* 可以根据需要调整文本的水平对齐方式 */
}

p{
    margin: 0 auto; 
    width: 80%;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}

@media screen and (max-width: 800px) {

    body {
        margin: 0;
    }

    body::before,
    body::after {
        content: none; 
    }
}

@media screen and (min-width: 1100px) {
    video{
        width: 640;
        height: 480;
    }
    
}